@charset "utf-8";
@import url(reset.css);

@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.inner {
    max-width: 1280px;
    width: calc(100% - 30px);
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #333;
    margin-bottom: 50px;
}

.mobile {
    display: none;
}

/* -------------------------------------------------------------------- */
/* header */

header {
    width: 100%;
    height: 80px;
    /* background-color: #343436; */
    background-color: black;
    /* border-bottom: 1px solid white; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
}

header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    height: 30px;
}

header .pc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .pc .gnb .depth01 {
    display: inline-block;
    text-align: center;
    position: relative;
}

header .pc .gnb .depth01::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: 0%;
    height: 1px;
    background-color: white;
}

header .pc .gnb .depth01:hover:after {
    width: 70%;
}

header .pc .gnb .depth01>a {
    display: block;
    line-height: 80px;
    padding: 0 20px;
    color: white;
}

header .pc .gnb .depth01 .depth02 {
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
}

header .pc .gnb .depth01.on .depth02 {
    display: block;
}

header .pc .gnb .depth01:nth-child(1) .depth02 {
    width: 150px;
}

header .pc .gnb .depth01:nth-child(2) .depth02 {
    width: 200px;
}

header .pc .gnb .depth01:nth-child(3) .depth02 {
    width: 150px;
}

header .pc .gnb .depth01:nth-child(4) .depth02 {
    width: 200px;
}

header .pc .gnb .depth01 .depth02 li {
    padding: 15px 0 15px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    text-align: start;
    position: relative;
    color: white;
}

header .pc .gnb .depth01 .depth02 li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
}

header .pc .gnb .depth01 .depth02 li:hover:after {
    width: 100%;
}

header .pc_join {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

header .pc_join li a {
    position: relative;
    font-size: 12px;
}

header .pc_join li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 1px;
    background-color: white;
}

header .pc_join li a:hover:after {
    width: 100%;
}

/* -------------------------------------------------------------------- */
/* main_visual */

.main_visual {
    max-height: calc(100vh - 80px);
    height: 56.25vw;
    margin: 80px auto 0;
    background-color: black;
}

.main_visual .youtube {
    width: 100%;
    height: 100%;
    position: relative;
}

/* .main_visual .youtube iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */

.main_visual .youtube video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -------------------------------------------------------------------- */
/* cont01 */

.cont01 {
    padding: 100px 0;
}

.cont01 .inner {
    position: relative;
}

.cont01 .tag {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}

.cont01 .tag li {
    padding: 10px 20px;
    border: 2px solid black;
    white-space: nowrap;
    border-radius: 50px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.cont01 .tag li::after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: 6px;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    z-index: 7;
}

.cont01 .tag li.on::after {
    background-color: white;
}

.cont01 .tag li:hover:after {
    width: calc(100% - 40px);
}

.cont01 .tag .on {
    background-color: black;
    color: white;
}

.cont01 .menu_list {
    display: none;
}

.cont01 .menu_list.on {
    display: block;
}

.cont01 .menu_list .menu {
    display: flex;
    justify-content: space-between;
    height: 540px;
    position: relative;
}

.cont01 .menu_list .menu .menu_img {
    max-width: 70%;
    width: 100%;
    border-radius: 50px;
    overflow: hidden;
    transition: 0.3s;
}

.cont01 .menu_list .menu .menu_img:hover img {
    transform: scale(1.2);
    transition: 0.3s;
}

.cont01 .menu_list .menu .menu_info {
    max-width: calc(100% - 70% - 20px);
    width: 100%;
    background-color: #e5e5e5;
    border-radius: 50px;
    overflow: hidden;
    padding: 30px 30px;
    position: relative;
}

.cont01 .menu_list .menu .menu_info h3 {
    color: #333;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cont01 .menu_list .menu .menu_info span {
    display: block;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    /* margin-bottom: 80px; */
    margin-bottom: 3.91vw;
}

.cont01 .menu_list .menu .menu_info .hot {
    display: flex;
    gap: 4px;
    width: 12px;
}

.cont01 .menu_list .menu .menu_info h4 {
    color: #333;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.2;
    word-break: keep-all;
}

.cont01 .menu_list .menu .menu_info h4 .m_hot {
    display: none;
    gap: 4px;
    width: 10px;
    margin-left: 5px;
}

.cont01 .menu_list .menu .menu_info strong {
    display: block;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.cont01 .menu_list .menu .menu_info p {
    color: #333;
    height: 55px;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 30px;
    word-break: keep-all;
}

.cont01 .menu_list .menu .menu_info ul {
    width: calc(100% - 60px);
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.cont01 .menu_list .menu .menu_info ul li {
    display: block;
    line-height: 1.3;
    padding-left: 14px;
    text-indent: -14px;
    color: #333;
    font-size: 12px;
    word-break: keep-all;
    margin-top: 3px;
}

.cont01 .menu_list .wine figure {
    width: 100%;
    height: 100%;
}

.cont01 .menu_list .wine h2 {
    position: absolute;
    top: 40%;
    left: 75px;
    color: #bc9b69;
}

.cont01 .menu_list .wine a {
    position: absolute;
    top: 60%;
    left: 75px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    color: #333;
    transition: 0.3s;
}

.cont01 .menu_list .wine a:hover {
    background-color: black;
    border-color: white;
    color: white;
    transition: 0.3s;
}

.cont01 .menu_list .wine.mad a {
    left: 70px;
    top: 80%;
}

.cont01 .menu_list .wine.mad>a:hover {
    border-color: black;
}

.cont01 .swiper-button-next,
.swiper-rtl .swiper-button-prev {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
}

.cont01 .swiper-button-prev,
.swiper-rtl .swiper-button-next {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
}

.cont01 .swiper-button-next:after,
.cont01 .swiper-rtl .swiper-button-prev:after {
    content: '';
    width: 50px;
    height: 50px;
    overflow: hidden;
    background: url(../img/cont02/bg_swiper_new.png) -18px -110px no-repeat;
}

.cont01 .swiper-button-prev:after,
.cont01 .swiper-rtl .swiper-button-next:after {
    content: '';
    width: 50px;
    height: 50px;
    overflow: hidden;
    background: url(../img/cont02/bg_swiper_new.png) -22px -20px no-repeat;
}

.cont01 .swiper-horizontal>.swiper-pagination-bullets,
.cont01 .swiper-pagination-bullets.swiper-pagination-horizontal,
.cont01 .swiper-pagination-custom,
.cont01 .swiper-pagination-fraction {
    width: auto;
    left: calc(85% + 20px);
    transform: translateX(-50%);
}

.cont01 .swiper-pagination-bullet-active {
    background-color: #bc9b69;
}

/* -------------------------------------------------------------------- */
/* cont02 */

.cont02 {
    padding: 100px 0;
    background-color: rgb(255, 255, 228);
}

.cont02 .frame h2 {
    margin-bottom: 0;
}

.cont02 .frame {
    width: 100%;
    height: 100%;
    position: relative;
}

.cont02 .promotion {
    margin-bottom: 30px;
    position: relative;
}

.cont02 .swiper {
    position: static;
}

.cont02 .swiper-wrapper {
    position: relative;
}

.cont02 .promotion .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
    /* height: 30vw; */
}

.cont02 .swiper-slide-active {
    z-index: 6;
}

.cont02 .swiper-slide-active img {
    transform: scale(2.5);
}

.cont02 .swiper-slide-prev a,
.cont02 .swiper-slide-next a,
.cont02 .swiper-slide-next+.swiper-slide img {
    transform: scale(0.5);
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 0;
    width: 90px;
    height: 90px;
    margin-top: 0;
    /* background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 20px 20px 0; */
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 0;
    width: 90px;
    height: 90px;
    margin-top: 0;
    /* background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px 0 0 20px; */
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '';
    width: 90px;
    height: 90px;
    overflow: hidden;
    background: url(../img/cont02/prev.png) center center / cover no-repeat;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '';
    width: 90px;
    height: 90px;
    overflow: hidden;
    background: url(../img/cont02/next.png) center center / cover no-repeat;
}

.autoplay-progress {
    position: absolute;
    left: 50%;
    bottom: 2.5%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
    z-index: 7;
}

.autoplay-progress svg {
    --progress: 0;
    z-index: 7;
    width: 38px;
    height: 38px;
    stroke-width: 4px;
    stroke: black;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.control {
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    z-index: 7;
}

.control div {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.control .stop {
    background: url(../img/cont02/stop.png) center center / cover no-repeat;
}

.control .play {
    background: url(../img/cont02/play.png) center center / cover no-repeat;
}

.cont02 .swiper-horizontal>.swiper-pagination-bullets,
.cont02 .swiper-pagination-bullets.swiper-pagination-horizontal,
.cont02 .swiper-pagination-custom,
.cont02 .swiper-pagination-fraction {
    display: flex;
    justify-content: center;
    height: 5px;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
}

.cont02 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.cont02 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background: #343436;
    text-indent: -9999px;
    border-radius: 0;
    display: block;
    width: 54px;
    height: 5px;
    outline: 0;
    margin: 0 2px;
}

/* -------------------------------------------------------------------- */
/* cont03 */

.cont03 {
    padding: 100px 0;
}

.cont03 .inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 28px;
}

.cont03 .membership {
    width: 100%;
    height: 500px;
    background: url(../img/cont03/membership.jpg) center bottom / cover no-repeat;
    position: relative;
}

.cont03 .membership::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.cont03 .membership .title {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    position: relative;
    z-index: 7;
}

.cont03 .membership .title h3 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

.cont03 .membership .title p {
    font-size: 14px;
}

.cont03 .membership .list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 300px;
    position: absolute;
    bottom: 30px;
    opacity: 0;
    transition: 1s;
}

.cont03 .membership .list .item {
    text-align: center;
}

.cont03 .membership .list .item a {
    display: block;
}

.cont03 .membership .list .item:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cont03 .membership .list .item img {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

.cont03 .membership .list .item strong {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.cont03 .membership .list .item p {
    font-size: 14px;
    line-height: 1.3;
}

.cont03 .membership>a {
    display: none;
}

.cont03 .bottom {
    width: calc((100% - 28px) / 2);
    height: 250px;
    position: relative;
    overflow: hidden;
}

.cont03 .bottom::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.cont03 .search a,
.cont03 .recruit a {
    display: block;
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.3s;
    z-index: 7;
}

.cont03 .bottom strong {
    font-size: 25px;
    font-weight: bold;
}

.cont03 .bottom p {
    margin-top: 30px;
    opacity: 0;
    transition: 0.3s;
    font-size: 14px;
}

.cont03 .search:hover img,
.cont03 .recruit:hover img {
    transform: scale(1.2);
    transition: 0.3s;
}

.cont03 .search:hover a,
.cont03 .recruit:hover a {
    top: 50%;
}

.cont03 .search:hover p,
.cont03 .recruit:hover p {
    opacity: 1;
    transition: 0.3s;
}

/* -------------------------------------------------------------------- */
/* side_bar */

.side_bar {
    position: fixed;
    right: 28px;
    bottom: 28px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 97;
}

.side_bar div {
    margin: 0 auto;
}

.side_bar>div p {
    font-size: 14px;
    color: white;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

.side_bar .frame {
    /* width: 70px;
    height: 70px; */
    width: 3.65vw;
    height: 3.65vw;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.side_bar .frame img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.side_bar .frame strong {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    padding-bottom: 5px;
}

.side_bar .frame strong span {
    display: block;
    margin-bottom: 5px;
}

.side_bar .frame:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.6);
    transition: background-color 0.5s;
}

.side_bar .frame:hover strong,
.side_bar .frame:hover strong span {
    color: black;
}

.side_bar .reservation img {
    /* width: 50px;
    height: 50px; */
    width: 2.6vw;
    height: 2.6vw;
    margin-left: 1px;
    object-fit: cover;
}

.side_bar .store img {
    /* width: 40px;
    height: 42px; */
    width: 2.07vw;
    height: 2.19vw;
    object-fit: cover;
}

/* -------------------------------------------------------------------- */
/* footer */

footer {
    background-color: #333;
    position: relative;
    padding-bottom: 20px;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: black;
}

footer .inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 7;
}

footer .info {
    width: 40%;
    position: relative;
}

footer .info .f_text ul {
    margin-bottom: 20px;
}

footer .info .f_text ul li {
    display: inline-block;
    line-height: 30px;
    font-size: 14px;
}

footer .info .f_text ul li:first-child {
    margin-right: 50px;
}

footer .info .f_text p {
    font-size: 14px;
    margin-bottom: 30px;
}

footer .info .sns {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

footer .info .sns img {
    width: 35px;
    height: 35px;
}

footer .info .sns a:nth-child(3) img {
    width: 45px;
    height: 45px;
}

footer .info .app {
    display: flex;
    gap: 30px;
}

footer .info .app a {
    display: block;
    width: 120px;
    height: 30px;
}

footer .info .app a img {
    object-fit: scale-down;
}

footer .info span {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 14px;
}

footer nav .f_gnb {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    position: relative;
}

footer nav .f_gnb .f_depth01 {
    vertical-align: top;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}

footer a {
    position: relative;
}

footer a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
}

footer a:hover:after {
    width: 100%;
}

footer .info .sns a::after,
footer .info .app a::after {
    content: '';
    width: 0;
    height: 0;
}

footer nav .f_gnb .f_depth01 .f_depth02 {
    font-size: 12px;
}

footer nav .f_gnb .f_depth01 .f_depth02 li {
    line-height: 1.5;
    padding: 10px 0;
}



/* -------------------------------------------------------------------- */
/* PC end */
/* mobile start */
/* -------------------------------------------------------------------- */





/* -------------------------------------------------------------------- */
/* mobile 1275px */
/* -------------------------------------------------------------------- */

@media screen and (max-width:1275px) {
    h2 {
        font-size: 40px;
    }
    
    .cont02 .frame h2 {
        margin-bottom: 50px;
    }

    /* -------------------------------------------------------------------- */
    /* cont01 */

    .cont01 .tag {
        width: 100%;
        justify-content: space-between;
        overflow: scroll;
        overflow: auto;
        white-space: nowrap;
    }

    .cont01 .inner .tag::-webkit-scrollbar {
        height: 3px;
        opacity: 0;
        transition: 0.3s;
    }

    /* .cont01 .inner .tag::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 5px;
    } */

    /* .cont01 .inner .tag:hover::-webkit-scrollbar-thumb {
        background-color: black;
    } */

    .cont01 .tag li {
        margin-right: 20px;
    }

    .cont01 .tag li:last-child {
        margin-right: 0;
    }

    .cont01 .tag li:hover:after {
        width: 0;
    }

    .cont01 .menu_list .wine a {
        padding: 5px 10px;
        font-size: 14px;
        background-color: black;
        border-color: white;
        color: white;
    }

    .cont01 .menu_list .wine.mad a {
        left: 50px;
        top: 80%;
    }

    .cont01 .menu_list .wine figure img {
        width: 100%;
        height: 100%;
        /* margin-top: 100px; */
        object-fit: cover;
    }

    /* -------------------------------------------------------------------- */
    /* cont02 */

    .cont02 .promotion .swiper-slide {
        height: auto;
    }

    .cont02 .swiper-slide-active img {
        transform: scale(1);
    }

    .autoplay-progress {
        bottom: 0.5%;
    }

    .autoplay-progress svg {
        width: 3vw;
        height: 3vw;
    }

    .control {
        bottom: 1%;
    }

    .control div {
        width: 2.4vw;
        height: 2.4vw;
    }

    /* -------------------------------------------------------------------- */
    /* side_bar */

    .side_bar>div p {
        font-size: 12px;
    }

    .side_bar .frame strong {
        font-size: 14px;
    }
}




/* -------------------------------------------------------------------- */
/* mobile 1100px */
/* -------------------------------------------------------------------- */

@media screen and (max-width:1100px) {

    .cont01,
    .cont02,
    .cont03 {
        padding: 80px 0;
    }

    .cont01 .menu_list .menu .menu_info span {
        /* margin-bottom: 50px; */
        margin-bottom: 4.55vw;
    }

    .cont01 .menu_list .menu .menu_img {
        max-width: calc(65% - 10px);
    }

    .cont01 .menu_list .menu .menu_info {
        max-width: calc(35% - 10px);
    }

    .side_bar .frame strong {
        font-size: 12px;
    }
}






/* -------------------------------------------------------------------- */
/* mobile 960px */
/* -------------------------------------------------------------------- */

@media screen and (max-width:960px) {
    h2,
    .cont02 .frame h2 {
        margin-bottom: 30px;
    }

    .cont01,
    .cont02,
    .cont03 {
        padding: 50px 0;
    }

    header {
        height: 50px;
    }

    header h1 {
        height: 20px;
    }

    header .pc {
        display: none;
    }

    header .pc_join {
        display: none;
    }

    header .mobile {
        display: block;
        font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    }

    header .mobile_gnb {
        width: 80%;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        background-color: white;
        z-index: 100;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    header .mobile_gnb .mobile_join {
        width: 100%;
        height: 50px;
        /* height: 5.21vw; */
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #e1e3e4;
        position: relative;
    }

    header .mobile_gnb .mobile_join figure {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        position: fixed;
        top: 0;
        right: 80%;
        border-right: 1px solid #e1e3e4;
        background-color: white;
    }

    header .mobile_gnb .mobile_join figure img {
        width: 15px;
        height: 15px;
        object-fit: cover;
    }

    header .mobile_join li a p {
        font-size: 14px;
        color: black;
    }

    header .mobile_gnb .gnb {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        position: relative;
    }

    header .mobile_gnb .gnb .depth01:nth-child(5) {
        padding-bottom: 10px;
        border-bottom: 1px solid #e1e3e4;
    }

    header .mobile_gnb .gnb .depth01:nth-child(6) {
        padding-top: 10px;
    }

    header .mobile_gnb .gnb .depth01>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
    }

    header .mobile_gnb .gnb .depth01>a span {
        color: black;
        position: relative;
    }

    header .mobile_gnb .gnb .depth01>a span::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: black;
        z-index: -1;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.3s;
    }

    header .mobile_gnb .gnb .depth01>a.on span::before {
        width: 100%;
    }

    header .mobile_gnb .gnb .depth01 a>img {
        width: 8px;
        object-fit: cover;
    }

    header .mobile_gnb .gnb .depth01 .depth02 {
        display: block;
        width: calc(100% / 2);
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #231f20;
        padding: 10px 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    header .mobile_gnb .gnb .depth01 .depth02 a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        font-size: 14px;
        color: white;
    }

    header .mobile_gnb .gnb .depth01 .depth02 a img {
        width: 8px;
        object-fit: cover;
    }

    header .mobile_gnb .mobile_center:first-child {
        border-top: 1px solid #e1e3e4;
    }

    header .mobile_gnb .mobile_center a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        color: black;
        font-size: 16px;
    }

    header .mobile_gnb .mobile_center span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }

    header .mobile_gnb .mobile_center span>img {
        width: 15px;
        object-fit: cover;
        margin-left: 3px;
    }

    header .mobile_menu span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 5px 0;
        transition: 0.3s;
    }

    header .mobile_bg {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 99;
    }

    header .mobile_bg.on {
        display: block;
    }

    .main_visual {
        max-height: calc(100vh - 50px);
        margin: 50px auto 0;
    }

    /* -------------------------------------------------------------------- */
    /* cont01 */

    .cont01 .tag {
        margin-bottom: 20px;
    }

    .cont01 .tag li {
        padding: 5px 15px;
        font-size: 14px;
    }

    .cont01 .menu_list .menu {
        height: 400px;
    }

    .cont01 .menu_list .menu .menu_info h3 {
        font-size: 30px;
    }

    .cont01 .menu_list .menu .menu_info span {
        font-size: 16px;
    }

    .cont01 .menu_list .menu .menu_info .hot {
        width: 10px;
    }

    .cont01 .menu_list .menu .menu_info h4 {
        font-size: 20px;
    }

    .cont01 .menu_list .menu .menu_info strong {
        font-size: 16px;
    }

    .cont01 .menu_list .menu .menu_info ul .caution {
        display: none;
    }

    /* -------------------------------------------------------------------- */
    /* cont03 */

    .cont03 .membership {
        /* height: 400px; */
        height: 43.01vw;
    }

    .cont03 .membership .title {
        /* margin-bottom: 50px; */
        margin-top: 5.38vw;
    }

    .cont03 .membership .title h3 {
        font-size: 35px;
    }

    .cont03 .membership .list .item img {
        /* width: 80px;
        height: 80px; */
        width: 8.6vw;
        height: 8.6vw;
        object-fit: scale-down;
        margin-bottom: 10px;
    }

    .cont03 .membership .list .item strong {
        font-size: 18px;
    }

    .cont03 .membership .list {
        bottom: 10px;
    }

    .cont03 .membership .list .item p {
        font-size: 13px;
    }

    .cont03 .bottom {
        height: 26.88vw;
    }

    /* -------------------------------------------------------------------- */
    /* side_bar */

    .side_bar .frame {
        width: 35px;
        height: 35px;
    }

    .side_bar .frame strong {
        font-size: 12px;
    }

    .side_bar .reservation img {
        width: 26px;
        height: 26px;
        margin-left: 2px;
    }

    .side_bar .store img {
        width: 20px;
        height: 21px;
    }

    .side_bar>div p {
        font-size: 12px;
    }

    /* -------------------------------------------------------------------- */
    /* footer */

    footer .info .f_text ul li {
        font-size: 12px;
    }

    footer .info .f_text p {
        font-size: 12px;
    }

    footer .info .sns img {
        width: 28px;
        height: 28px;
    }

    footer .info .sns a:nth-child(3) img {
        width: 38px;
        height: 38px;
    }

    footer .info .app a {
        width: 100px;
        height: 25px;
    }

    footer .info span {
        font-size: 12px;
    }

    footer nav .f_gnb .f_depth01 {
        font-size: 12px;
    }
}





/* -------------------------------------------------------------------- */
/* mobile 850px */
/* -------------------------------------------------------------------- */

@media screen and (max-width:850px) {
    .cont01 .menu_list .menu {
        display: block;
        height: 500px;
    }

    .cont01 .menu_list .menu .menu_img {
        max-width: 100%;
        height: 60%;
        border-radius: 50px 50px 0 0;
    }

    .cont01 .menu_list .menu .menu_info {
        max-width: 100%;
        height: 40%;
        border-radius: 0 0 50px 50px;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
    }

    .cont01 .menu_list .menu .menu_info .menu_tag {
        width: 30%;
    }

    .cont01 .menu_list .menu .menu_info .menu_text {
        width: calc(100% - 30% - 20px)
    }

    .cont01 .menu_list .menu .menu_info span {
        margin-bottom: 0;
    }

    .cont01 .menu_list .menu .menu_info .hot {
        display: none;
    }

    .cont01 .menu_list .menu .menu_info h4 {
        margin-bottom: 5px;
    }

    .cont01 .menu_list .menu .menu_info h4 .m_hot {
        display: inline-flex;
    }

    .cont01 .menu_list .menu .menu_info strong {
        margin-bottom: 15px;
    }

    /* -------------------------------------------------------------------- */
    /* cont02 */

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        top: 60%;
        right: 0;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        border-radius: 15px 0 0 15px;
        overflow: hidden;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        top: 60%;
        right: 0;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        border-radius: 0 15px 15px 0;
        overflow: hidden;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        content: '';
        width: 50px;
        height: 50px;
        overflow: hidden;
        background: url(../img/cont02/bg_swiper_new.png) -18px -110px no-repeat;
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        content: '';
        width: 50px;
        height: 50px;
        overflow: hidden;
        background: url(../img/cont02/bg_swiper_new.png) -22px -20px no-repeat;
    }

    .autoplay-progress svg {
        width: 28px;
        height: 28px;
    }

    .control div {
        width: 22px;
        height: 22px;
    }

    /* -------------------------------------------------------------------- */
    /* cont03 */

    .cont03 .membership {
        /* height: 200px; */
        height: 23.53vw;
    }

    .cont03 .membership .title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
        margin-top: 0;
        padding: 0 30px;
    }

    .cont03 .membership .title h3 {
        font-size: 30px;
    }

    .cont03 .membership .list {
        display: none;
    }

    .cont03 .membership>a {
        display: block;
        padding: 10px 15px;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        font-size: 14px;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        transition: 1s;
        z-index: 9;
    }


    /* -------------------------------------------------------------------- */
    /* footer */

    footer .inner {
        flex-direction: column;
    }

    footer .info {
        width: 100%;
        margin-top: 15px;
        display: flex;
        order: 1;
    }

    footer .info .f_text,
    footer .info .f_icon {
        width: calc(100% / 2);
    }

    footer nav .f_gnb {
        /* height: 210px; */
        justify-content: flex-start;
        gap: 10px;
    }

    footer nav .f_gnb .btn_case {
        width: 30px;
        height: 30px;
        padding: 7.5px;
        margin-left: 30px;
    }

    footer nav .f_gnb .btn_case .more_btn {
        width: 15px;
        height: 15px;
        position: relative;
        cursor: pointer;
        transition: 1s;
    }

    footer nav .f_gnb .btn_case .more_btn.on {
        transform: rotate(540deg);
        transition: 1s;
    }

    footer nav .f_gnb .btn_case .more_btn span:nth-child(1) {
        display: block;
        width: 2px;
        height: 100%;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 1s;
    }

    footer nav .f_gnb .btn_case .more_btn.on span:nth-child(1) {
        height: 0%;
        transition: 1s;
    }

    footer nav .f_gnb .btn_case .more_btn span:nth-child(2) {
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    footer nav .f_gnb .f_depth01 {
        text-align: left;
        /* width: 130px; */
        width: 15.3vw;
    }

    footer nav .f_gnb .f_depth01 .f_depth02 {
        display: none;
    }

    footer nav .f_gnb .f_depth01 .f_depth02 li {
        padding: 5px 0;
        font-size: 12px;
    }
}





/* -------------------------------------------------------------------- */
/* mobile 680px */
/* -------------------------------------------------------------------- */

@media screen and (max-width:680px) {
    footer nav .f_gnb .f_depth01 {
        width: 100px;
    }

    footer nav .f_gnb .f_depth01 .f_depth02 li {
        font-size: 10px;
    }
}






/* -------------------------------------------------------------------- */
/* mobile 540px */
/* -------------------------------------------------------------------- */

@media screen and (max-width:540px) {

    /* cont01 */
    .cont01 .menu_list .menu {
        height: 350px;
    }

    .cont01 .menu_list .menu .menu_info {
        /* height: auto; */
        border-radius: 0 0 25px 25px;
        padding: 10px 20px;
    }

    .cont01 .menu_list .menu .menu_info h3 {
        font-size: 24px;
    }

    .cont01 .menu_list .menu .menu_info span {
        font-size: 14px;
    }

    .cont01 .menu_list .menu .menu_info h4 {
        font-size: 16px;
    }

    .cont01 .menu_list .menu .menu_info strong {
        font-size: 14px;
    }

    .cont01 .menu_list .menu .menu_info p {
        display: none;
    }

    .cont01 .menu_list .wine h2 {
        font-size: 25px;
    }

    .cont01 .menu_list .wine a {
        font-size: 10px;
        border: 1px solid white;
    }

    /* -------------------------------------------------------------------- */
    /* cont02 */

    .autoplay-progress {
        bottom: 0.1%;
    }

    .control {
        bottom: 1%;
    }

    .cont02 .swiper-horizontal>.swiper-pagination-bullets,
    .cont02 .swiper-pagination-bullets.swiper-pagination-horizontal,
    .cont02 .swiper-pagination-custom,
    .cont02 .swiper-pagination-fraction {
        width: 80%;
    }

    .cont02 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .cont02 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        width: 20px;
        height: 3px;
    }

    /* -------------------------------------------------------------------- */
    /* cont03 */

    .cont03 .membership>a {
        padding: 5px 10px;
        font-size: 10px;
    }

    .cont03 .membership .title p {
        font-size: 12px;
    }

    /* -------------------------------------------------------------------- */
    /* side_bar */

    .side_bar {
        display: none;
    }

    /* -------------------------------------------------------------------- */
    /* footer */

    footer .info {
        justify-content: space-between;
    }

    footer .info .f_text,
    footer .info .f_icon {
        width: auto;
    }

    footer .info .sns {
        gap: 5.56vw;
    }

    footer .info .sns img {
        width: 5.19vw;
        height: 5.19vw;
    }

    footer .info .sns a:nth-child(3) img {
        width: 7.04vw;
        height: 7.04vw;
    }

    footer .info .app {
        gap: 5px;
        flex-direction: column;
    }

    footer .info .app a {
        width: 18.52vw;
        height: 4.63vw;
    }

    footer .info .app a:first-child {
        order: 1;
    }

    footer .info .app a img {
        object-fit: cover;
    }
}








/* -------------------------------------------------------------------- */
/* mobile 414px */
/* -------------------------------------------------------------------- */

@media screen and (max-width:414px) {

    .cont01,
    .cont02,
    .cont03 {
        padding: 30px 0;
    }

    h2 {
        font-size: 25px;
    }

    header,
    header .mobile_gnb .mobile_join {
        height: 30px;
    }

    header h1 {
        height: 13px;
    }

    header .mobile_menu span {
        width: 16px;
        height: 1px;
        margin: 4px 0;
    }

    header .mobile_join li a p {
        font-size: 10px;
    }

    header .mobile_gnb .gnb .depth01 .depth02 {
        height: 100%
    }

    header .mobile_gnb .gnb .depth01>a,
    header .mobile_gnb .gnb .depth01 .depth02 a,
    header .mobile_gnb .mobile_center a {
        padding: 10px 20px;
        font-size: 10px;
    }

    header .mobile_gnb .gnb .depth01>a img,
    header .mobile_gnb .gnb .depth01 .depth02 a img,
    header .mobile_gnb .mobile_center a>img {
        width: 4px;
    }

    header .mobile_gnb .mobile_center span>img {
        width: 10px;
    }

    /* -------------------------------------------------------------------- */
    /* main_visual */

    .main_visual {
        max-height: calc(100vh - 30px);
        margin: 30px auto 0;
    }

    /* -------------------------------------------------------------------- */
    /* cont01 */

    .cont01 .tag li {
        font-size: 12px;
        padding: 3px 10px;
        margin-right: 10px;
    }

    .cont01 .menu_list .menu {
        height: 280px;
    }

    .cont01 .menu_list .menu .menu_img {
        border-radius: 25px 25px 0 0;
        height: 70%;
    }

    .cont01 .menu_list .menu .menu_info {
        height: 30%;
        padding: 15px 20px;
    }

    .cont01 .menu_list .menu .menu_info h3 {
        font-size: 16px;
    }

    .cont01 .menu_list .menu .menu_info span {
        font-size: 10px;
    }

    .cont01 .menu_list .menu .menu_info h4 .m_hot {
        width: 7px;
        margin-left: 2px;
    }

    .cont01 .menu_list .menu .menu_info h4 {
        font-size: 14px;
    }

    .cont01 .menu_list .menu .menu_info strong {
        font-size: 10px;
        margin-bottom: 0;
    }

    .cont01 .menu_list .menu .menu_info ul {
        display: none;
    }

    .cont01 .menu_list .wine h2,
    .cont01 .menu_list .wine a {
        left: 30px;
    }

    /* -------------------------------------------------------------------- */
    /* cont02 */

    .autoplay-progress svg {
        width: 20px;
        height: 20px;
    }

    .control div {
        width: 15px;
        height: 15px;
    }

    /* -------------------------------------------------------------------- */
    /* cont03 */

    .cont03 .inner {
        gap: 10px;
    }

    .cont03 .membership .title h3 {
        margin-bottom: 0;
        text-align: center;
        font-size: 16px;
    }

    .cont03 .membership .title p,
    .cont03 .membership>a {
        display: none;
    }

    .cont03 .bottom {
        width: calc((100% - 10px) / 2);
    }

    .cont03 .search a,
    .cont03 .recruit a {
        top: 50%;
    }

    .cont03 .bottom strong {
        font-size: 14px;
    }

    .cont03 .bottom p {
        display: none;
    }

    /* -------------------------------------------------------------------- */
    /* footer */

    footer {
        padding-bottom: 0;
    }

    footer .info {
        margin-top: 5px;
    }

    footer .info .f_text {
        width: 100%;
    }

    footer .info .f_icon {
        display: none;
    }

    footer .info .f_text ul {
        margin-bottom: 20px;
    }

    footer .info .f_text ul li {
        line-height: 0;
        font-size: 10px;
    }

    footer .info .f_text p {
        margin-bottom: 30px;
        font-size: 10px;
    }

    footer .info span,
    footer nav .f_gnb .f_depth01 {
        font-size: 10px;
    }

    footer nav .f_gnb .f_depth01 .f_depth02 li {
        padding: 3px 0;
        font-size: 10px;
        zoom: 0.8;
    }
}








/* -------------------------------------------------------------------- */
/* mobile 320px */
/* -------------------------------------------------------------------- */

@media screen and (max-width:320px) {
    h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .cont01 .tag li {
        font-size: 10px;
        padding: 2px 8px;
        margin-right: 8px;
    }

    .cont01 .menu_list .menu .menu_info h3 {
        font-size: 14px;
    }

    .cont01 .menu_list .menu .menu_info h4 {
        font-size: 12px;
    }

    .autoplay-progress {
        bottom: -0.2%;
    }

    footer nav .f_gnb .f_depth01 .f_depth02 li {
        padding: 5px 0;
    }
}